@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HATA</title>
</head>
<body style="text-align:center">
    <hgroup>
        
        <div>
            <br />
            <h2>Bir hatayla karşılaştık.</h2>
            <h2>Tekrar giriş yapınız.</h2>
            <br />
            <h2><a href="/Login/Index/">Giriş Yap.</a></h2>
        </div>
        
    </hgroup>
</body>
</html>
